<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="py-5">
        <div class="container">
            <h1>Vonage POC Application</h1>
            <p>This is a simple PoC application that contains the following:
            <ul>
                <li>Slim framework for DI, in Vonage's case the IoC container is custom built with PSR standards.</li>
                <li>Twig for quick templating. Nobody mixes HTML and PHP tags anymore.</li>
                <li>Bootstrap to make it at least a bit readable.</li>
                <li>Basic unit tests for the local API wrapper connecting to Vonage's API.</li>
            </ul>
            <p>
            <p>My Balance: {{ balance }}</p>
            <h2 style="margin-bottom:50px;">Applications</h2>
            <h4>Create Application</h4>
            <form>
                <div class="form-group">
                    <label for="application_name">Application Name</label>
                    <input type="text" class="form-control" id="application_name"></input>
                </div>
                <button type="submit" style="margin-top:10px;" class="btn btn-primary">Submit</button>
            </form>
            <h4>Current Applications</h4>

        </div>
    </body>
</html>
